@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

:root{
    --primary:#1CDA2F;
    --body: #2f2f2f;
    --dark: #1c1c1c;
    --light: #f3f3f3;
    --white: #fff;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

html{
    font: size 62.5%; overflow-x: hidden; 
    scroll-padding-top: 5.5rem; 
    scroll-behavior: smooth;
}

*{
    font-family:'Old Standard TT', serif;
    margin: 0; padding: 0; box-sizing: border-box;
    text-decoration: none; outline: none; border: none;
    text-transform: capitalize; transition: all .2s linear;
}

section:nth-child(even){
    background: #fff;
}

.heading{
    text-align: center;
    color: var(--body);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform:capitalize;
}

.button{
    margin-top: 1rem; display: inline-block; font-size: 1rem;
    color: #fff; background: var(--primary);
    border-radius: 0.5rem; cursor: pointer; padding: 0.5rem 0.5rem;
}

.button:hover{
    background: rgb(29, 182, 29);
    letter-spacing: 0.1rem;
}

.banner1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/image/home-img.jpg);
    background-size: cover;
    background-position:center;
}
.navbar{
    position: fixed; top: 0; left: 0; right: 0; padding: 1rem 7%; display: flex;
    align-items: center; justify-content: space-between; z-index: 1000;
}
.logo{
    color: var(--white); font-size: 1rem; font-weight: bolder;
}
.navbar ul li{
    list-style: none; display: inline-block; margin:0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none; color:white; 
    text-transform:capitalize;
}
.content{
    width: 100%; position:absolute; top: 50%;
    transform: translateY(-50%); text-align: center; color: white;
}
.content h1{
    font-size: 70px; margin-top: 60px;
}
.content p{
    margin: 20px; font-weight: 100 ; line-height: 25px;
}
.a menu{
    width: 200px; padding: 15px 0; text-align: center;
    margin: 20px 10px; border-radius: 25px; font-weight: bold;
}

.logo:hover{
    background:var(--body);
    letter-spacing: 0.1rem; border-radius: 0.2rem; padding: 0.2rem 0;
}

.navbar ul li a:hover{
    background: var(--body);
    letter-spacing: 0.1rem; border-radius: 0.2rem; padding: 0.2rem 0;
}

.section{
    h1 {text-align: center;font: size 100px;}
        div {text-align: center;}
}

.banner2{
    width: 100%;
    height: 80vh;
    background-color:#F4BF96;
    background-size: cover;
    background-position:center;
}
.about .row{
    display: flex; height: 88%; align-items: center;
}
.about .row .col{
    flex-basis: 50%; text-align: left; text-transform: lowercase;
}
.about .row .col-image-col{
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.about .row .image1 img{
    width: 30%;
    height: 50%;
}
.about .row .image2 img{
    width: 25%;
    height: 25%;
}
.about .row .image3 img{
    width: 25%;
    height: 25%;
}
.about .row .col h1{
    text-align:left;
    color: var(--body);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform:capitalize;
}
.about .row p{
    line-height: 1.5rem;
}
.banner3{
    width: 100%;
    height: auto;
    background-color:var(--light);
    background-size: cover;
    background-position:center;
}
.menu{
    display: flex; align-items: center;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 2.5rem; background:var(--white);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,0.2);
    box-shadow: var(--box-shadow); position: relative;
    overflow: hidden; text-align:left;
}
.menu .box-container .box h3{
    font-size: 1.5rem;
}
.menu .image img{
    width: 100%;
    height: 2;
}
.menu .box-container .box span{
    color:var(--body); font-weight: bolder;
}
.menu .box-container .box img{
    height: auto;
}
.banner4{
    width: 100%;
    height: 80vh;
    background-color:#F4BF96;
    background-size: cover;
    background-position:center;
}
.services{
    display: flex; align-items: center;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}
.services .box-container .box h3{
    font-size: 1.5rem; text-align: center; color: var(--body);
}
.services .box-container .box p{
    color:var(--dark); text-align: center; justify-content: center;
}
.banner5{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/image/testimoni-img.jpg);
    background-size: cover;
    background-position:center;
}
.testimoni{
    display: flex; align-items: center;
}
.testimoni h1{
    color: var(--white);
}
.testimoni h3{
    text-align: center; color: var(--white);
}
.testimoni .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}
.testimoni .box-container .box{
    padding: 2.5rem; background:var(--white);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,0.2);
    box-shadow: var(--box-shadow); position: relative;
    overflow: hidden; text-align:left;
}
.testimoni .box-container .box h3{
    font-size: 1.5rem;
}
.testimoni .box img{
    width: 7rem; height: 7rem; border-radius: 50%; object-fit: cover;
}
.testimoni .stars i{
    color: var(--body);
}

.book-table{
    width: 100%; text-align:left; color: white; height: auto;
}
.book-table h1{
    font-size: 35px; margin-top: 60px; color:var(--dark); 
    text-align: center;
}
.book-table form{
    width: 90rem; border: radius 0.5rem; box-shadow:var(--box-shadow);
    border: 0.1rem solid rgba(0,0,0,0.2); background: var(--white); 
    padding: 1.5rem; margin: 0 auto; float: center;
}
.book-table .inputBox{
    display: flex; flex-wrap: wrap; 
    justify-content:center ; text-align:left;
}
.inputBox .form-grup{
    width:50%; float: center;
}
.inputBox .form-grup label{
    display: block; padding: 0.5rem 0; font-size: 1.5rem; 
    color: var(--dark);
}
.inputBox .form-grup input{
    background: #eee; border-radius: 0.5rem; padding: 1rem;
    font-size: 1.6rem; color:var(--dark); text-transform: none;
    margin-bottom: 1rem; width: 100%; resize: none;
}
.book-table form .button{
    margin-top: 1rem; display: inline-block; font-size: 1rem;
    color: #fff; background: var(--primary);
    border-radius: 0.5rem; cursor: pointer; padding: 0.5rem 0.5rem;
}
.book-table form .button:hover{
    background: rgb(29, 182, 29);
    letter-spacing: 0.1rem;
}
.banner7{
    width: 100%;
    height: 35vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/image/footer-img.png);
    background-size: cover;
    background-position:center;
}
.footer-top{
    display: flex; align-items: center; justify-content: space-between;
}
.footer-top .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}
.footer-top .box-container .box h3{
    font-size: 1.5rem; text-align: center; color: var(--white);
}
.footer-top .box-container .box p{
    color:var(--white); text-align: center; justify-content: center;
}
.footer-top .box-container .box p:hover{
    color: var(--primary);
    text-decoration: underline;
}
.banner8{
    width: 100%;
    height: 40vh;
    background-color:#1c1c1c;
    background-size: cover;
    background-position:center;
}
.contact .box-container{
    display: grid; grid-template-columns: 
    repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem; justify-content: space-between;
}
.contact .box-container .box h3{
    padding: 0.5rem 0; font-size: 1.5rem;
    color: var(--white);
}
.contact .box-container .box p{
    display: block;
    padding: 0.5rem 0; font-size: 0.5rem;
    color: var(--white);
}
.contact .box-container .box p .a{
    display: block;
    padding: 0.5rem 0; font-size: 0.5rem;
    color: var(--white);
}
.contact .box-container .box p a:hover{
    color: var(--primary);
    text-decoration: underline;
}
.contact .box-container .box .form-grup{
    display: block;
    padding: 0.5rem 0; font-size: 1.5rem;
    color: var(--white);
}
.contact .box-container .box .form-grup:hover{
    color: var(--primary);
    text-decoration: underline;
}
.banner9{
    width: 100%;
    height: 10vh;
    background-color: var(--body);
    background-size: cover;
    background-position:center;
}
.footer-bottom{
    position: fixed; top: 0; left: 0; right: 0;
    align-items: center; justify-content: center;
    z-index: 1000;
}
.footer-bottom .credit h3{
    font-size: 0.5rem;
    color:var(--white);
}
.footer-bottom .icons a{
    cursor: pointer; align-items: center;
    height: 4.5rem; line-height: 4.5rem;
    width: 4.5rem; text-align: center;
    font-size: 0.5rem; border-radius: 50%; background: transparent;
    padding: 0.5rem 1.5rem; color: var(--white);
}
.footer-bottom .icons a:hover{
    color: #fff; background: var(--primary);
    transform: rotate(360deg);
}
